<div ng-include="'components/navbar/navbar.html'"></div>

<header>
  <div class="container">
    <h1>Create</h1>
  </div>
</header>

<div class="container">
  <div class="col-md-12">
    <form role="form" name="form" ng-submit="create(form)" novalidate>

      <div class="form-group">
        <label for="title">Title</label>
        <input ng-model="collection.title" autofocus type="text" class="form-control" name="title" placeholder="Enter the new collection's title" />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea ng-model="collection.description" class="form-control" name="description" placeholder="Describe what the collection contains"></textarea>
      </div>

      <h3>Links</h3>

      <div class="link" ng-repeat="link in collection.links">

        <div class="form-group" >
          <label>Title</label>
          <input ng-model="link.title" type="text" class="form-control" placeholder="What does this link to?" />
        </div>

        <div class="form-group" >
          <label>URL</label>
          <input ng-model="link.url" type="url" class="form-control" placeholder="Enter the url" />
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea ng-model="link.description" class="form-control" placeholder="Describe the resource"></textarea>
        </div>
        <button class="btn btn-default" type="button" ng-click="removeLink($index)">Remove This Link</button>

      </div>

      <button class="btn btn-inverse" type="button" ng-click="addLink()">Add a Link</button>
      <button class="btn btn-inverse" type="submit">Create this Collection</button>
    </form>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>

