<div ng-include="'components/navbar/navbar.html'"></div>

<header>
  <div class="container">
    <h1>Create</h1>
  </div>
</header>

<div class="container">
  <div class="col-md-12">
    <form role="form" name="form" ng-submit="create(form)" novalidate>

      <div class="form-group" ng-class="{ 'has-success': form.title.$valid,
                                            'has-error': form.title.$invalid && submitted }">
        <label for="title">Title</label>
        <input ng-model="collection.title" autofocus type="text" class="form-control" 
                    name="title" placeholder="Enter the new collection's title"
                    required />
        <p class="help-block" ng-show="form.title.$error.required && submitted">
          Please enter a title for this collection
        </p>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form.url.$valid,
                                              'has-error': form.url.$invalid && (submitted || form.url.$error.pattern) }">
        <label for="title">Url</label>
        <input ng-model="collection.url" type="text" class="form-control"
                    required
                    name="url" 
                    placeholder="Choose a url for this collections"
                    ng-pattern="/^[a-zA-Z0-9_-]*$/"
                    mongoose-error />
        <p class="help-block" ng-show="form.url.$error.mongoose">
          {{ errors.url }}
        </p>
        <p class="help-block" ng-show="form.url.$error.pattern">
          Invalid url characters, use only letters, numbers, -, and _
        </p>
        <p class="help-block" ng-hide="form.url.$error.mongoose || form.url.$error.pattern">
          This collection will live at: curates.io/view/{{ collection.url || 'chooseYourUrl' }}
        </p>
        <p class="help-block" ng-show="form.url.$error.required && submitted">
          Please choose a url for this collection
        </p>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form.description.$valid,
                                                'has-error': form.description.$invalid && submitted }">
        <label for="description">Description</label>
        <textarea ng-model="collection.description" class="form-control" 
                    name="description" 
                    required
                    placeholder="Describe what the collection contains"></textarea>
        <p class="help-block" ng-show="form.description.$error.required && submitted">
          Please describe this collection
        </p>
      </div>

      <h3>Links</h3>

      <div class="link" ng-repeat="link in collection.links">
      <ng-form name="linkForm">
          <div class="form-group" ng-class="{ 'has-success': linkForm.title.$valid,
                        'has-error': linkForm.title.$invalid && submitted }">
            <label>Title</label>
            <input ng-model="link.title" name="title" type="text" class="form-control" 
                      placeholder="What does this link to?"
                      required />
            <p class="help-block" ng-show="linkForm.title.$error.required && submitted">
              Please enter a title for this link
            </p>
          </div>

          <div class="form-group" ng-class="{ 'has-success': linkForm.url.$valid,
                        'has-error': linkForm.url.$invalid && submitted }">
            <label>Url</label>
            <input ng-model="link.url" name="url" type="url" class="form-control" 
                        placeholder="http://www.example.com"
                        required />
            <p class="help-block" ng-show="linkForm.url.$error.required && submitted">
              Please enter a url for this link
            </p>
            <p class="help-block" ng-show="linkForm.url.$error.url && submitted">
              That url is not valid
            </p>
          </div>

          <div class="form-group" ng-class="{ 'has-success': linkForm.description.$valid,
                        'has-error': linkForm.description.$invalid && submitted }">
            <label for="description">Description</label>
            <textarea ng-model="link.description" name="description" class="form-control" 
                        required
                        placeholder="Describe the resource"></textarea>
            <p class="help-block" ng-show="linkForm.description.$error.required && submitted">
              Please describe this link
            </p>
          </div>
          <button class="btn btn-default" type="button" ng-click="removeLink($index)">Remove This Link</button>
        </ng-form>
      </div>

      <button class="btn btn-inverse" type="button" ng-click="addLink()">Add a Link</button>
      <button class="btn btn-inverse" type="submit">Create this Collection</button>
    </form>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>

