<div ng-include="'components/navbar/navbar.html'"></div>

<header>
  <div class="container">
    <h1>My Collections</h1>
  </div>
</header>

<div class="container" ng-if="collections">
  <div class="collectionMeta" ng-repeat="collection in collections">
    <h3><a ng-href="{{ 'view/' + collection.url }}">
      {{ collection.title }} 
      <span class="badge">{{ collection.userStars.length }}</span>
    </a></h3>
    {{ collection.description }}
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
